.product {
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    margin-bottom: 5x;
}
.product-name {
    color: blue;
    font-weight: 400;
}
.main-button {
    background-color: goldenrod;
    padding: 10px 20px;
    border: 1px solid lightcyan;
    border-radius: 5px;
    cursor: pointer;
}